body {
    font-family: 'Lato', sans-serif;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: flex-end;
}

.title {
    font-family: 'Space Grotesk', sans-serif;
    padding: 2rem;
}

main {
    display: grid;
    padding: 2rem;
}



a {
    color: black;
}

footer li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

/* GRID */

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
    background-color: #e8e9ea;
}

.project-grid-item {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
}


.project-grid-item li {
    list-style-type: none;
}

.project-image img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}